* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  background-image: linear-gradient(to right bottom, #32bd4e, #b2f2bb);
}

/* --------------------
      GRID STYLE
-----------------------*/
.grid--1--col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

.grid--2--cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
}

/* --------------------
      BUTTON STYLE
-----------------------*/
.btn {
  border: none;
  color: #f8f9fa;
  background-color: #2b8a3e;
  font-family: inherit;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.btn:hover {
  background-color: #226e32;
}

/* --------------------
      INPUT STYLE
-----------------------*/
.input {
  font-family: inherit;
  font-size: inherit;
}

/* --------------------
      FORM STYLE
-----------------------*/
.form {
  border-radius: 1rem;
  overflow: hidden;
}

/* --------------------
      ICON STYLE
-----------------------*/

.icon {
  padding: 0 0.4rem;
}

/* --------------------
      PRODUCT-ID STYLE
-----------------------*/
.date-infor {
  padding: 0 0.8rem;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  border-radius: 1rem;
  box-shadow: 0 0 3px #343a40 inset;
  font-size: 1.6rem;
  background-color: #f1f3f5;
  z-index: 1;
  transition: all 0.3s ease-in;
}

.movement-quantity {
  margin: 0.8rem 0;
  align-items: center;
  justify-items: end;
}

.quantity {
  display: inline-block;
  justify-self: start;
}

.product-id {
  padding: 0.4rem;
  border-radius: 10rem;
  color: #fff;
  display: inline-block;
}
.product--1702 {
  background-color: #418b50;
}
.product--1912 {
  background-color: #f03e3e;
}
.product--1012 {
  background-color: #f81b1b;
}
.product--1922 {
  background-color: #fcc419;
}
.product--9032 {
  background-color: #32be4a;
}
.product--9032ip {
  background-color: #24a039;
}
.product--1032 {
  background-color: #2b8a3e;
}
.product--1102 {
  background-color: #339af0;
}
.product--1202 {
  background-color: #339af0;
}
.product--1442 {
  background-color: #1212ec;
}
.product--1042 {
  background-color: #339af0;
}
.product--1052 {
  background-color: #1833ab;
}
.product--1002 {
  background-color: #339af0;
}
.product--1680 {
  background-color: #247c35;
}
.product--5101 {
  background-color: #24a039;
}
.product--5312 {
  background-color: #eca013;
}
.product--4452 {
  background-color: #db890e;
}

/* --------------------
      FUNCTIONS
-----------------------*/
.function {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.2rem;
  overflow: hidden;
  background-color: #f8f9fa;
  z-index: 6;
}

.function-header {
  background-color: #dee2e6;
  align-items: start;
  justify-items: start;
}

.function-title {
  padding: 1.2rem;
  margin: 1.2rem;
  border-radius: 1rem;
  font-size: 2.4rem;
  background-color: #2b8a3e;
  color: #f8f9fa;
}

.close-btn {
  padding: 1.2rem;
  justify-self: end;
  cursor: pointer;
}

.close-icon {
  color: black;
  width: 4.8rem;
  height: 4.8rem;
}

.function-content {
  padding: 2.4rem 3.2rem;
  justify-items: start;
}

.footer--btn {
  margin-right: 3.2rem;
  padding: 1.2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}

/* --------------------
      MOVEMENT
-----------------------*/

.movement {
  padding: 2.4rem;
  align-items: center;
}

.movement-date {
  position: relative;
  padding: 0.4rem;
  border-radius: 10rem;
  background-color: #ffdeeb;
  border-radius: 10rem;
  justify-self: start;
  cursor: pointer;
}

.movement-date-money {
  justify-self: end;
}

.movement-total {
  padding: 0 4.8rem;
  align-items: center;
  justify-items: start;
  row-gap: 2.4rem;
}

/* --------------------
      HELPER CLASSES
-----------------------*/

.border {
  border: 1px solid #adb5bd;
}

.border-bottom {
  border-bottom: 1px solid #adb5bd;
}

.border-right {
  border-right: 1px solid #adb5bd;
}

.positive {
  padding: 0.4rem;
  border-radius: 10rem;
  color: #fff;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.negative {
  padding: 0.4rem;
  border-radius: 10rem;
  color: #fff;
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.justify--end {
  justify-self: end;
}

.opacity {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.hidden {
  display: none;
}
